@font-face{
	font-family:'alexana-neue';
	src: url('../fonts/alexana-neue/Alexana Neue.ttf')
}

@font-face{
	font-family:'Aclonica';
	src: url('../fonts/aclonica/Aclonica.ttf')
}


@font-face{
	font-family:'Gugi';
	src: url('../fonts/Gugi/Gugi-Regular.ttf')
}

body{
  font-family: "gugi";
  overflow-x: hidden;
}


.navbar{
  font-family: "alexana-neue";
}

.navbar h1 {
   color: #fff;
   font-family: "alexana-neue";
}

.fixed-top.scrolled {
  background-color: #000 !important;
  transition: background-color 200ms linear;
  border-bottom: none;
}

#home-section h1{
  font-family: "gugi";
}


.nav-item{
   font-weight:50; 
  font-size:22px;
  padding-right: 10px;
  padding-left: 15px;
}

.nav-item .nav-link{
  color: white !important;
}

.nav-item .nav-link:hover{
  color: #e43a15 !important;
}



.carousel-image-1{
  background: url("../img/img3.jpg") no-repeat;
  background-size: cover;
  min-height: 700px;
  background-position: center;
} 

.carousel-image-2{
  background: url("../img/img 2.jpg") no-repeat;
  background-size: cover;
  min-height: 700px;
  background-position: center;
} 

.carousel-image-3{
  background: url("../img/img4.jpg") no-repeat;
  background-size: cover;
  min-height: 700px;
  background-position: center; 
} 


#home-section .carousel-fade .carousel-inner .carousel-item {
  transition-property: opacity;
}

#home-section .carousel-fade .carousel-inner .carousel-item,
#home-section .carousel-fade .carousel-inner .active.carousel-item-left,
#home-section .carousel-fade .carousel-inner .active.carousel-item-right {
  opacity: 0;
}

#home-section .carousel-fade .carousel-inner .active,
#home-section .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
#home-section .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity: 1;
  transition: 0.7s;
}

#home-section .carousel-fade .carousel-inner .carousel-item-next,
#home-section .carousel-fade .carousel-inner .carousel-item-prev,
#home-section .carousel-fade .carousel-inner .active.carousel-item-left,
#home-section .carousel-fade .carousel-inner .active.carousel-item-right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


 .primary-overlay{
  background:rgba(0,0,0,0.3);
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:700px;
} 


.fa-shopware, span{
  color:#e43a15 !important;
}

.navbar-toggler{
  border-radius: 0;
}

.navbar-toggler-icon{
  color: #fff !important;
}

#home-section p{
  font-size: 35px;
  margin-bottom: 15vh
}

#home-section .fa-arrow-down{
  font-size: 30px;
  color: lightgrey;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #e43a15 ;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#home-section2{
  background : #f9f9f9;
  min-height: 280px;
}

#home-section2 p{
  font-size: 17px;
}

#home-section3 .fa{
  color:#e43a15;
}

#home-section3{
  background: rgba(248, 248, 248, 0.8) url("../img/img12.jpg") no-repeat fixed center top / cover;
  background-size: cover;
  min-height: 220px;
  background-position: center; 
  position: relative;
}


#home-section2 h3, #home-section2 p{
  color:#000;
}

#home-section2 .fa{
  font-size: 55px;
  color: #e43a15;
	/* border-radius: 50%; */
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}


#home-section2 .fa:hover{
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

#about{
  background:#f9f9f9;
}

#about h2{
  color: #000;
}

#about>a {
  display: block;
  color: #000;
}

#about ul li {
  color: #000;
  display: block;
  padding: 7px 0;
}

#about ul li i {
  color: #e43a15;
  padding-right: 10px;
  font-size: 14px;
}

#about p {
  color:#000;
}


#services h2{
  color:#000;
}

#services .box {
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #e43a15;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #0c2e8a;
  background: linear-gradient(45deg, #e43a15 0%, #e43a15 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box p {
  font-size: 15px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}


#services .box a{
  color: #000;
}

#services2{
  background: rgba(248, 248, 248, 0.8) url("../img/img11.jpg") no-repeat fixed center top / cover;
  background-size: cover;
  min-height: 200px;
  background-position: center;
  position: relative;
}

#services2 .fa{
  color:#e43a15;
}

#clients h2{
  color: #000;
}


#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#subscribe{
  background: rgba(248, 248, 248, 0.8) url("../img/img11.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 300px;
}

 #subscribe a{
   text-decoration: none;
 }

 #subscribe .input-group {
  height: 45px;
  width:80%;
  margin-left: 70px;
}

#subscribe input{
  font-size: 20px;
}

#subscribe span{
  height: 45px;
  font-size: 20px;
}

#partners{
  background: #f9f9f9;
}

#partners h2{
  color: #000;
}

.team-member {
  background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0;
  display: block;
  margin-right: -15px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.team-member:hover.team-member::before {
  transform: scale(1.2);
}

.single-team-member {
  border: 1px solid #ddd;
}

.team-left-text h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.team-left-text p {
  color: #fff;
  font-size: 17px;
  line-height: 26px;
}


.team-left-icon ul li {
  display: inline-block;
}

.team-left-icon ul li a:hover {
  color: #e43a15;
  background: #fff;
  border: 2px solid #fff;
}

.team-left-icon ul li a {
  border: 2px solid #fff;
  color: #fff;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 37px;
  margin: 0 3px;
  width: 40px;
}

.team-member-carousel .single-team-member {
  overflow: hidden;
  width: 100%;
}

.single-team-member:hover .team-img a:after {
  opacity: 1;
}

.single-team-member:hover .team-social-icon {
  top: 45%;
  opacity: 1;
}

.team-img {
  position: relative;
}

.team-img>a {
  display: block;
}

.team-img>a::after {
  background: rgba(0, 0, 0, 0.70);
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
  opacity: 0;
}

.team-social-icon {
  left: 50%;
  margin-left: -101px;
  opacity: 0;
  position: absolute;
  top: 30%;
  transition: 1.3s;
}

.team-social-icon ul li {
  display: inline-block;
}

.team-social-icon ul li a {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 35px;
  margin: 0 3px;
  width: 34px;
}

.team-social-icon ul li a:hover {
  color: #fff;
  border: 1px solid #e43a15;
  background: #e43a15;
}

.team-content {
  padding: 10px 0px;
}

.team-content>h4, .team-content>p {
  color: #444;
  margin-bottom: 5px;
}

.team-content.head-team p {
  margin-bottom: 0;
}

.team-left-icon.text-center {
  margin-bottom: 20px;
}


#portfolio h2{
  color:#000;
}

portfolio {
  background: #fff;
  padding: 30px 0;
}

#portfolio .portfolio-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all ease-in-out 0.4s;
}

#portfolio .portfolio-item {
  overflow: hidden;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: center;
}


#portfolio .portfolio-item img {
  transition: all ease-in-out 0.4s;
  width: 100%;
}

#portfolio .portfolio-item:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item:hover .portfolio-overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}

#portfolio .portfolio-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#contact{
  background: #f9f9f9;
}

#contact h2{
  color:#000;
}

#contact .fa{
  font-size: 35px;
  color: #e43a15;
}

#contact .fab{
  font-size: 35px;
  color: #e43a15;
}

.contact-area {
  height: auto;
  width: 100%;
}

.contact-content {
  padding: 100px;
  background: #000 none repeat scroll 0 0;
}

.contact-content-right {
  padding: 100px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #444;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 20px;
  width: 100%;
}

.contact-form textarea  {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  border-radius: 0;
  color: #444;
  height: 140px;
  padding: 20px;
  width: 100%;
}

.contact-form button[type="submit"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #444;
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  padding: 12px 30px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}

.contact-form button[type=submit]:hover {
  color: #fff;
  border: 1px solid #e43a15;
  background: #e43a15;
}

.contact-form  #sendmessage {
  color: #e43a15;
  border: 1px solid #e43a15;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.contact-form #sendmessage.show, .contact-form #errormessage.show, .contact-form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}



.single-icon p {
  font-size: 16px;
  line-height: 30px;
}

.contact-icon {
  margin-bottom: 40px;
}


 .overlay{
   background: rgba(0,0,0,0.7);
   position: absolute;
   width: 100%;
   height: 100%;
 } 

 .overlay2{
  background: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 300px;
} 

#footer{
  background: #000;
}

#footer p{
  font-size: 20px;
}

#footer .fab{
  color: #f9f9f9;
  font-size: 25px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #e43a15;
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 20px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #e43a15;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #000;
  color: #fff;
}



/* Extra Small devices (landscape phones) */
@media (min-width:350px) {
  .navbar{
    background: #000;
    border-bottom: none; 
  }
}
 

 /* Small devices (landscape phones) */
 @media (min-width:575px) {
  .navbar{
    background: #000;
    border-bottom: none;
  }
}

/* Medium devices (tablets) */
@media (min-width:767px) {
  .navbar{
    background: #000;
    border-bottom: none;
  }
  
}

/* Large devices (desktops) */
@media (min-width:991px) {
   .navbar{
    background: none;
    border-bottom: 1px solid #fff
  }
  
  
}

/* Extra large devices (large desktops) */
@media (min-width:1199px) {
 
}
